@use './css/dropdown.scss';
@use './css/halo.scss';
@use './css/tab.scss';
@use './css/table.scss';
@use './css/command.scss';
@use './css/button.scss';
@use './css/menu.scss';
@use './css/login.scss';
@use './css/loading.scss';

html {
  color-scheme: light;
  background-color: rgb(var(--ui-color-primary-700) / 0.05);
}
html.dark {
  color-scheme: dark;
  background-color: rgb(var(--ui-bg) / 0.5);
}

[un-cloak] {
  display: none;
}

.app-remote-loader {
  height: 100%;
}


.tab-fade-leave-active,
.tab-fade-enter-active {
  transition: all 0.3s;
}

.tab-fade-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.tab-fade-enter-to {
  opacity: 1;
  transform: translateX(0px);
}

.tab-fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}