.command-palette {
  [command-dialog-mask] {
    background-color: rgba(var(--n-gray-color-100), 0.5);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  [command-dialog-wrapper] {
    position: relative;
    flex-direction: column;
    margin: 20vh auto auto;
    max-width: 560px;
    background-color: rgb(var(--ui-bg));
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgb(var(--ui-border-muted));
  }

  [command-group-heading] {
    color: rgba(var(--ui-text-muted));
    padding: 6px 6px;
  }

  [command-separator] {
    border-bottom: 1px solid rgb(var(--ui-border-muted));
    margin: 6px 0px;
  }

  [command-list] {
    border-top: 1px solid rgb(var(--ui-border-muted));
    padding: 0px 6px;
    padding-bottom: 6px;
  }

  [command-group] {
    //padding: 6px 0px;
  }

  [command-item] {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 3px;
    color: rgba(var(--ui-text-toned));

    &[aria-selected='true'],
    &:active {
      background-color: rgba(var(--ui-bg-elevated));
      color: rgba(var(--ui-color-primary-500));
    }
  }
}

.dark {
  .command-palette {
    [command-dialog-mask] {
      background-color: rgba(var(--n-gray-color-3), 0.5);
    }
  }
}
