.light {
  .layout-tabs.n-tabs .n-tabs-nav.n-tabs-nav--card-type .n-tabs-tab {
    --n-tab-color: #fff;
    border-radius: var(--n-tab-border-radius);
  }
}

.dark {
  .layout-tabs.n-tabs .n-tabs-nav.n-tabs-nav--card-type .n-tabs-tab {
    --n-tab-color: rgb(24, 24, 28);
    border-radius: var(--n-tab-border-radius);
  }
}

.light {
  .layout-tabs.n-tabs .n-tabs-nav.n-tabs-nav--top.n-tabs-nav--card-type .n-tabs-tab.n-tabs-tab--active {
    border: 1px solid rgba(var(--ui-color-primary-200));
    background-color: rgba(var(--ui-color-primary), 0.1);
  }
}

.dark {
  .layout-tabs.n-tabs .n-tabs-nav.n-tabs-nav--top.n-tabs-nav--card-type .n-tabs-tab.n-tabs-tab--active {
    border: 1px solid rgba(var(--ui-color-primary-700));
    background-color: rgb(var(--ui-color-primary) / 0.1);
  }
}

.layout-tabs.n-tabs .n-tabs-nav.n-tabs-nav--top.n-tabs-nav--card-type .n-tabs-pad {
  border: none;
}
