@use './css/tab.scss';
@use './css/table.scss';
@use './css/button.scss';
@use './css/command.scss';

html {
  background-color: rgb(var(--ui-color-white));
}
html.dark {
  color-scheme: dark;
  background-color: rgb(var(--ui-color-gray-900));
}

.app-menu-button.n-button {
  .n-button__content {
    flex: 1;
  }
}
