.app-page-tabs.n-tabs {
  .n-tabs-nav.n-tabs-nav--card-type {
    .n-tabs-pad {
      border: none;
    }
    .n-tabs-nav__prefix,
    .n-tabs-nav__suffix {
      border-bottom: none;
    }
    .n-tabs-tab {
      padding: 0;
      border-bottom: none;
      border-radius: 0;
      background-color: transparent;
    }
  }

  .n-tabs-nav.n-tabs-nav--top.n-tabs-nav--card-type {
    .n-tabs-tab-pad {
      width: 5px;
      background-color: transparent;
      border-bottom: none;
    }
    .n-tabs-tab {
      background-color: rgb(var(--ui-bg));
      border-bottom: none;
      border: none;
      position: relative;
      border-radius: 4px;
      &.n-tabs-tab--active {
        
      }
    }
  }
}

.dark {
  .app-page-tabs.n-tabs {
    .n-tabs-nav.n-tabs-nav--top.n-tabs-nav--card-type {
      .n-tabs-tab-pad {
        background-color: transparent;
      }
      .n-tabs-tab {
        border: 1px solid rgb(var(--ui-border-muted));
        background-color: rgb(var(--ui-color-gray-800) / 0.5);
      }
    }
  }
}

.app-modal-tabs {
  &.n-tabs .n-tabs-wrapper {
    padding: 0 16px;
  }
  &.n-tabs .n-tabs-nav {
    background-color: rgb(var(--ui-color-gray-200) / 0.2);
  }
  &.n-tabs .n-tabs-tab {
    padding: 12px 4px;
    font-size: var(--n-font-size);
  }
}

.dark {
  .app-modal-tabs {
    &.n-tabs .n-tabs-nav {
      background-color: rgb(var(--ui-bg-elevated) / 0.5);
    }
  }
}

.app-page-tabs.n-tabs {
  display: flex;
  height: 100%;
  flex-direction: column;
  .n-tabs-nav {
    flex: none;
  }
  .n-tab-pane {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 20px;
  }
  .n-tabs-tab {
    font-size: 0.85rem;
    padding: 1rem;
  }

}